<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- <ion-content scrollEvents="true" (ionScroll)="onScrollEnd($event)"> -->
<div class="tac-content">
  <ion-row>
    <ion-col size="0.7">
      1. <button (click)="textSpeechRecognitionService.voiceNotRecogSelectManually()">check</button>
    </ion-col>
    <ion-col size="11">
      I/We agree to understand, accept and support the Philosophy and Mission of the School and be bound by the rules
      governing the School. the authority of the Principal and the Board of Management of the School
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      2.
    </ion-col>
    <ion-col size="11">
      I/We agree that the School reserves the right, following admission, to discontinue the enrolment of a student at
      any time if it become evident that the School was misinformed regarding any application documentation or it
      becomes evident that the School does not have the resources to address successfully the individual needs of that
      student.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      3.
    </ion-col>
    <ion-col size="11">
      Additional charges will be collected for Extracurricular activities, Belts, ID cards, Uniform, Books, Badge (if
      applicable) and need to be paid before school starts.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      4.
    </ion-col>
    <ion-col size="11">
      An misbehaviour/ misconduct by the student/parent/guardian will lead to rustication of the student.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      5.
    </ion-col>
    <ion-col size="11">
      If you wish to avail school transport, please enquire about the routes in operation at the time of admission.
      Request for diversion or modification of the existing routes may be considered but the decision wilbe taken by
      transportation in-charge.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      6.
    </ion-col>
    <ion-col size="11">
      School management is authorised to make any of the following changes in transport with prior notice/ intimation
      to
      the parents.
    </ion-col>
    <ion-col offset="0.2" size="11">
      <section style="margin-top: -18px; margin-bottom: -14px;">
        <ul>
          <li>Change in pick-up and drop timings.</li>
          <li>Change in pick-up and drop points.</li>
          <li>Change in order of pick-up and drop points.</li>
        </ul>
      </section>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      7.
    </ion-col>
    <ion-col size="11">
      I/We have read and fully understood the terms and conditions listed in the Fee Schedule for the current academic
      year. I/We agree that for the payments of fees, we are jointly (together) and severally (alone), liable.
    </ion-col>
  </ion-row>
  <!--table-->
  <ion-row>
    <ion-col size="12">
      <ion-title mode="md" style="padding-inline-start: 0;font-weight: 600;">
        Fees and Schedules
      </ion-title>
    </ion-col>
    <ion-col style="margin-bottom: 10px;margin-top: 5px;" size="12">
      <table>
        <tr>
          <td>Term 1</td>
          <td>June 5th</td>
        </tr>
        <tr>
          <td>Term 2</td>
          <td>September 5th</td>
        </tr>
        <tr>
          <td>Term 3 and final payment</td>
          <td>December 5th</td>
        </tr>
        <tr>
          <td>Bus transportation</td>
          <td>Every month on or before 5th</td>
        </tr>
        <tr>
          <td>Extracurricular activity</td>
          <td>Every month on or before 5th</td>
        </tr>
      </table>
    </ion-col>
  </ion-row>
  <!--table end-->
  <ion-row>
    <ion-col size="0.7">
      8.
    </ion-col>
    <ion-col size="11">
      I/We agree to pay all fees as detailed above and I/We understand that the non-payment on or before the requested
      date excludes the student from attending class. It is our obligation to ensure the fees due are paid on time.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      9.
    </ion-col>
    <ion-col size="11">
      I/We agree to accept and be bound by the rules governing health and medical requirements for the safety of all
      students and faculty at the school. It is our obligation to ensure that evidence of required medical
      examinations,
      along with evidence of required immunisations are provided to the School within the stipulated period. I/We
      understand and accept that students may be required to undergo further medical emergency and/or safety
      precautionary measures during times of disease outbreak, or where medical investigative measures are deemed
      necessary by school policy or the Principal.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      10.
    </ion-col>
    <ion-col size="11">
      I/We agree the School may at its discretion, suspend or terminate a student's enrolment for failure to comply
      with
      the conditions of his Agreement, as well as for other serious breaches of the School's rules and regulations.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      11.
    </ion-col>
    <ion-col size="11">
      I/We agree that the School is not liable for any loss or damage to the student's personal belongings.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      12.
    </ion-col>
    <ion-col size="11">
      I/We agree to allow my/our children, to involve themselves in all of the School's activities, including
      excursions/field trips arranged by the School.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      13.
    </ion-col>
    <ion-col size="11">
      I/We agree that in the case of an emergency, the school is permitted to give appropriate medical attention
      and/or
      treatment.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      14.
    </ion-col>
    <ion-col size="11">
      I/We agree to have our contact details published in the school directory unless otherwise notified by us in
      writing to the School.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="0.7">
      15.
    </ion-col>
    <ion-col size="11">
      I/We agree that student photographs, images and recordings can be used for school marketing materials.
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="0.7">
      16.
    </ion-col>
    <ion-col size="11">
      I/We do hereby undertake to indemnify and save harmless the School, management and staff in respect of any
      liability arising consequence hereof and further undertake to obtain insurance cover for our said child and when
      necessary, and in particular in respect of travel and official school activities, against all risks.
    </ion-col>
  </ion-row>
  <ion-row style="margin-bottom:100px">
    <ion-col size="0.7">
      17.
    </ion-col>
    <ion-col size="11">
      I/We understand that re-routing of a bus would not be made arbitrarily without a formal
      request to the school.
    </ion-col>
  </ion-row>



  <ion-row class="tac-footer">
    <ion-col size="8" offset="4">
      <ion-checkbox [(ngModel)]="student.isAgreeTAC" name="isAgreeTAC" style="float: left;
      margin-top: 7px; --border-color-checked: #1d4c9b;zoom: 1.5; 
    --background-checked: #1d4c9b; --border-color: #808080;" mode="md" (ionChange)="enabledTAC()"></ion-checkbox>
      <ion-item style="--padding-start:10px;" lines="none">
        <ion-label style="color: #808080;">Agree to <span
            style="color: var(--ion-primary-color); font-weight: 500;">Terms</span> and <span
            style="color: var(--ion-primary-color); font-weight: 500;">Conditions</span></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</div>

<!-- </ion-content> -->